---
---

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: calc(45% - 30px);
  margin: 30px;
  background: var(--background);
  border-radius: var(--rounded);
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  min-height: 100%;
    transform: scale(0.80);
      /* 缩小卡片为原来的75% */
      transform-origin: top left;
      /* 设置缩放的原点为左上角 */
}

.card[data-style="small"] {
  width: 250px;
    transform: scale(0.80);
      /* 缩小小卡片为原来的75% */
}

.card-image {
  flex: 0 0 auto;
}

.card-image img {
  aspect-ratio: 3 / 2;
  object-fit: cover;
  width: 100%;
  box-shadow: var(--shadow);
}

.card-text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
}

.card-text>* {
  margin: 0 !important;
}

.card-title {
  font-family: var(--heading);
  font-weight: var(--semi-bold);
}

.card-subtitle {
  margin-top: -10px !important;
  font-style: italic;
}

.card-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
  font-size: 0.9rem;
  color: var(--text-muted);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  min-height: 100%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  height: auto;
}

.card:hover {
  transform: translateY(-10px) scale(0.80);
    /* 在悬停时保持缩放比例并增加浮动效果 */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}