---
---

$page: 900px;
$padding: 40px;
$background-light: #f9f9f9;
$background-dark: #f1f1f1;

section {
  padding: $padding max($padding, calc((100% - $page) / 2));
  transition: background var(--transition), color var(--transition);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section[data-size="wide"] {
  padding: $padding;
}

section[data-size="full"] {
  padding: 0;
}

section[data-size="full"] > * {
  margin: 0;
  border-radius: 0;
}

section[data-size="full"] img {
  border-radius: 0;
  width: 100% !important;
  height: auto !important;
  display: block;
}

main > section:last-of-type {
  flex-grow: 1;
}

main > section:nth-of-type(odd) {
  background: $background-light; // 奇数 section 的背景颜色
}

main > section:nth-of-type(even) {
  background: $background-dark;
}
