---
---

.tags {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 13px;
  max-width: 100%;
  margin: 20px 0;
  
}

.tag {
  max-width: 100%;
  margin: 0;
  padding: 8px 16px;
  border-radius: 999px;
  background: var(--secondary);
  color: var(--text);
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.1rem;
  transition: background var(--transition), color var(--transition);
}

.tag:hover {
  background: var(--light-gray);
  transform: scale(1.03); // 添加轻微缩放效果，提高互动性
}

.tag[data-active] {
  background: var(--light-gray);
}
